*{ margin: 0; padding: 0;}
@font-face {
    font-family: "Microsoft YaHei Light";
    src:url("font/Microsoft YaHei Light.ttf") format("truetype");


}
@font-face {
    font-family: "msyh";
    src:url("font/msyh.ttf") format("truetype");

}
@font-face {
    font-family: "Helvetica";
    src:url("font/Helvetica.ttc") format("truetype");

}
@media (min-width: 1230px){
    .container {
        width: 1200px;
    }
}
body{ font-family: Arial,DOIT; color: #000; font-size: 12px; line-height: 18px}
a,input,button{ outline: none;}
img{ display: block;}
img.zsyimg{ width: 100%; height: 100%; object-fit: cover; background-color: #c3c3c3; }
img.zsyimg3{ max-width: 100%; height: 100%; object-fit: cover;}
img.zsyimg2{ width: 100%; height: 100%; object-fit: scale-down ;}
ul,ol,li,dl,dt,dd{ list-style: none; margin: 0; padding: 0}
a{ color: #000}
a:hover,a.mh{color:#999; text-decoration: none }
.lddq{ text-align: justify;}
.font14{ font-size: 14px}
/*HWCDSHOP --------------------START*/
.container{ width: 1230px; margin: 0 auto}
.container2{ width: 987px; margin: 0 auto; overflow: hidden}
.container3{ width: 1099px; margin: 0 auto}
.header{ height: 100px}
.logo{ padding-top: 39px}
ul.menu{ padding-top: 47px}
ul.menu li{ float: left; margin-left: 100px}
ul.menu li.pl{ margin-left: 13px}
ul.menu li .fdj{ margin-left: 4px; margin-top: 2px}
.bottom{ background: url("../images/bottom-bg.jpg"); height: 300px; padding: 60px 0 0 0}
.blist{ width: 190px; float: left}
.btitle{ font-size: 14px; font-weight: bold; margin-bottom: 38px}
.bcon{ margin-bottom: 15px}
.search{ position: absolute; left: 159px; top: 41px; background-color: #fff; display: none; top: -31px}
.closefont{ font-size: 14px; font-weight: bold; float: left}
.closepic{ margin-top: 4px; margin-left: 10px}
.serinp{ width: 900px; height: 31px; border: 0; border-bottom: #000 solid 1px; padding-right: 20px}
.sfdj{ position: absolute; right: 0; top: 9px}
#close,#open{ cursor: pointer}
.subg{ position: absolute; background-color: #f5f5f5; width: 100%; height: 480px; left: 0; top: 100px;
z-index: 3; display: none}
.submt{ font-size: 14px; padding-bottom: 22px}
.subm{ margin-right: 25px; float: left}
.submenu{ width: 1200px; margin: 0 auto; padding: 40px 0 0 50px;}
.submenu ul{ padding-top: 17px}
.submenu ul li{ line-height: 24px;}
.submenu ul li a:hover{ color: #c1a68d}
.stit{ font-size: 18px; text-align: center; margin: 36px 0 40px 0}
.catetit{ font-size: 14px; padding: 0 0 0 20px; height: 40px; line-height: 40px; background-color: #f5f5f5; margin-bottom: 30px}